.main-container {
    display: flex;
    flex-direction: column;
    padding-left : 50px;
    width: 50%;
    ;
}

.row-container{ 
    display: flex;
    flex-direction: row;
}

.row-form {
    margin-left: auto;
}

.item-list {
  font-family: Arial;
  color: grey;
}

.item-name {
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  .button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
  }
  
  .button3:hover {
    background-color: #f44336;
    color: white;
  }
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  

input[type=number]:focus {
    padding: 5px;
}
input[type=number] {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px dotted;
}
input[type=text]:focus {
    padding: 5px;
}
input[type=text] {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px dotted;
}
.amount-edit-box { 
    text-align: center;
}

.red-amount { 
    color: #f44336;
}
.green-amount { 
  color: #91bd30;
}

